  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    ///width: 100px;
    margin-left: 5px;
    padding:6px 0px 70px 200px;
    
    background-color: #f1f1f1;
  }

  .w3-white, .w3-hover-white:hover {
    color: #fff!important;
    background-color: #e51b49!important;
}

h1, h2, h3 {
 // font-family: 'Michroma', cursive;
  color:#fff;
}

.homeContainer {
  //font-family: 'Michroma', cursive;
  font-family: 'Flamenco', cursive;
}

.labelStyle
{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}



* {
  box-sizing: border-box;
}

.errLabel
{
  font-family: 'Arimo', sans-serif;
  font-size: 9px;
  color: #e51b49;
}
.address
{
  font-family: 'Arimo', sans-serif;
  font-size: 9px;
}

body {
  //font-family: 'Michroma' ,  sans-serif;
  font-family: 'Flamenco', cursive;
}

/* Float four columns side by side */
.column {
  float: left;
  //width: 25%;
  padding: 5px 0px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.callbut{
    float: left;
   
}
.routebut
{
    float: right;
}
.botdivcontainer
{
    background:#374452;
    padding: 0px 7px;
}

h1,h2,h3,h4,h5,h6
{
  //font-family: 'Michroma' ,  sans-serif;
  
      font-family: 'Flamenco', cursive;
      
}

h5{
    font-size: 1em;
    font-style: bold;
    color: #fff;
}