<!--The content below is only a placeholder and can be replaced.-->
<div class="topcontainer" >
  
  <!-- <img src="../webapp/assets/images/about-logo.png" style="padding-top: 0; height: 45px; width: 150px"  >-->
  <div style="float:left; padding-top: 0;">
   <h3  >Thandora</h3>
 </div>

 <a routerLink="search" >
  <i class="routebut cardmaterial-icons">
      search
      </i>
      </a>

      <a routerLink="posts">
        <i class="routebut cardmaterial-icons">
            message
            </i>
          </a>


   <a routerLink="">
   <i class="routebut cardmaterial-icons">
     assignment_ind
     </i>
   </a>
   <a routerLink="" >
   <i class=" routebut cardmaterial-icons">
       notifications
       </i>
       </a>

</div>

<div class="bodyContainer">
<router-outlet></router-outlet>
</div>
