<!--The content below is only a placeholder and can be replaced.-->
<div class="topcontainer" >
  
  <!-- <img src="../webapp/assets/images/about-logo.png" style="padding-top: 0; height: 45px; width: 150px"  >-->
  <div style=" font-family: 'Michroma', cursive; font-size: 1.25em; float:left; color: white; padding-top: 0;">
   THANDORA
  </div>
    <div style="float: right;">
 <a routerLink="search" style="float: right;" >
  <i class="routebut cardmaterial-icons">
      search
      </i>
      </a>

      <a routerLink="posts" style="float: right;">
        <i class="routebut cardmaterial-icons">
            message
            </i>
          </a>


   <a routerLink="" style="float: right;">
   <i class="routebut cardmaterial-icons">
     assignment_ind
     </i>
   </a>
   <a routerLink="" style="float: right;" >
   <i class=" routebut cardmaterial-icons">
       notifications
       </i>
       </a>
      </div>
     
    
    

</div>

<div class="bodyContainer">
<router-outlet></router-outlet>
</div>
